@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@700&display=swap');

$breakpoint_tablet: 1023px;
$breakpoint_mobile: 767px;

$banner_height_desktop: 220px;
$banner_height_tablet: 160px;
$banner_height_mobile: 100px;

@mixin tablet {
  @media screen and (max-width: $breakpoint_tablet) {
    @content;
  }
}

@mixin mobile {
  @media screen and (max-width: $breakpoint_mobile) {
    @content;
  }
}

body {
  margin: 0;
}

#banner {
  transition: 1s all;
  height: $banner_height_desktop;

  @include tablet {
    height: $banner_height_tablet;
  }

  @include mobile {
    height: $banner_height_mobile;
  }
}

#banner-image {
  width: 100%;
  height: 100%;
  background-size: cover;
  transition: 1s all;
  background-image: url("./banner-2560.png");

  @media screen and(max-width: 1920px) {
    background-image: url("./banner-1920.png");
  }
  @include tablet {
    background-image: url("./banner-1024.png");
  }
  @include mobile {
    background-image: url("./banner-768.png");
  }
}

#banner svg {
  position: absolute;
  top: 0;
  left: 0;
  transition: 1s all;
  height: $banner_height_desktop;

  @include tablet {
    height: $banner_height_tablet;
  }

  @include mobile {
    height: $banner_height_mobile;
  }
}

#banner-rect1 {
  transition: 1s all;
  height: 137px;

  @include tablet {
    height: 101px;
  }

  @include mobile {
    height: 60px;
  }
}

#banner svg text {
  mix-blend-mode: difference;
  font-family: 'Outfit', sans-serif;
  font-size: 200px;
  font-weight: bold;
  transition: 1s font-size;

  @include tablet {
    font-size: 150px;
  }

  @include mobile {
    font-size: 80px;
  }
}

#banner-mask-rect {
  fill: white;
  mask: url(#banner-mask);
}