@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500;700&family=Outfit:wght@700&family=Roboto:wght@700&display=swap');

$breakpoint_tablet: 1023px;
$breakpoint_mobile: 767px;

$banner_height_desktop: 220px;
$banner_height_tablet: 160px;
$banner_height_mobile: 100px;

$title_color: #0B1C2B;
$black_1: #303030;
$black_2: #747474;

@mixin tablet {
    @media screen and (max-width: $breakpoint_tablet) {
        @content;
    }
}

@mixin mobile {
    @media screen and (max-width: $breakpoint_mobile) {
        @content;
    }
}

body {
    margin: 0;
}

* {
    transition: 1s all;
}

#banner {
    transition: 1s all;
    height: $banner_height_desktop;

    @include tablet {
        height: $banner_height_tablet;
    }

    @include mobile {
        height: $banner_height_mobile;
    }

    .mask-image {
        width: 100%;
        height: 100%;
        background-size: cover;
        transition: 1s all;
        background-image: url("./banner-2560.png");

        @media screen and(max-width: 1920px) {
            background-image: url("./banner-1920.png");
        }
        @include tablet {
            background-image: url("./banner-1024.png");
        }
        @include mobile {
            background-image: url("./banner-768.png");
        }
    }

    svg {
        position: absolute;
        top: 0;
        left: 0;
        transition: 1s all;
        height: $banner_height_desktop;

        @include tablet {
            height: $banner_height_tablet;
        }

        @include mobile {
            height: $banner_height_mobile;
        }

        text {
            mix-blend-mode: difference;
            font-family: 'Outfit', sans-serif;
            font-size: 200px;
            font-weight: bold;
            transition: 1s font-size;

            @include tablet {
                font-size: 150px;
            }

            @include mobile {
                font-size: 80px;
            }
        }
    }

    .black-rect {
        transition: 1s all;
        height: 137px;

        @include tablet {
            height: 101px;
        }

        @include mobile {
            height: 60px;
        }
    }

    .mask-rect {
        fill: white;
        mask: url(#banner-mask);
    }
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    margin: 60px auto;
    max-width: 900px;

    @include tablet() {
        margin: 20px auto;
        max-width: 700px;
    }

    .title {
        display: block;
        box-sizing: border-box;
        width: 300px;
        height: 76px;
        font-family: 'Roboto', sans-serif;
        font-size: 56px;
        text-align: center;
        color: $title_color;
        border-bottom: 4px solid $title_color;
        margin-bottom: 30px;

        @include tablet() {
            width: 200px;
            height: 56px;
            font-size: 40px;
            border-bottom: 3px solid $title_color;
        }

        @include mobile() {
            width: 120px;
            height: 32px;
            font-size: 24px;
            border-bottom: 2px solid $title_color;
            margin-bottom: 20px;
        }
    }
}

#about-me {
    font-family: 'Noto Sans KR', sans-serif;

    .intro-box {
        width: 100%;

        @include mobile() {
            display: flex;
            flex-direction: column;
            align-items: center;
            flex-wrap: wrap;
        }

        .name {
            float: left;

            @include mobile() {
                float: none;
            }

            h1, h2 {
                display: inline;
                font-weight: bold;
            }

            h1 {
                font-size: 40px;
                color: $black_1;

                @include tablet() {
                    font-size: 28px;
                }

                @include mobile() {
                    font-size: 22px;
                }
            }

            h2 {
                font-size: 24px;
                color: $black_2;
                margin-left: 6px;

                @include tablet() {
                    font-size: 18px;
                    margin-left: 2px;
                }

                @include mobile() {
                    font-size: 16px;
                    margin-left: 0;
                }
            }
        }

        .description {
            float: right;
            font-weight: 500;
            font-size: 20px;
            color: $black_2;

            @include tablet() {
                font-size: 16px;
            }

            @include mobile() {
                font-size: 14px;
                float: none;
                text-align: center;
                margin-top: 10px;
            }
        }
    }

    .info-box {
        margin-top: 100px;
        display: flex;
        justify-content: space-evenly;
        width: 100%;

        @include tablet() {
            margin-top: 60px;
        }

        @include mobile() {
            margin-top: 40px;
        }

        .info {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 180px;

            @include tablet() {
                width: 150px;
            }

            @include mobile() {
                width: 100px;
            }

            .icon {
                width: 50px;
                height: 50px;

                @include tablet() {
                    width: 36px;
                    height: 36px;
                }

                @include mobile() {
                    width: 24px;
                    height: 24px;
                }
            }

            .sort {
                font-weight: bold;
                font-size: 28px;
                color: $black_1;

                @include tablet() {
                    font-size: 22px;
                }

                @include mobile() {
                    font-size: 18px;
                }
            }

            .content {
                font-weight: 500;
                font-size: 20px;
                color: $black_2;
                margin-top: 6px;
                text-align: center;
                word-break: keep-all;

                @include tablet() {
                    font-size: 16px;
                    margin: 0;
                }

                @include mobile() {
                    font-size: 14px;
                }
            }
        }
    }
}