@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500;700&family=Outfit:wght@700&family=Roboto:wght@700&display=swap");
body {
  margin: 0;
}

* {
  transition: 1s all;
}

#banner {
  transition: 1s all;
  height: 220px;
}
@media screen and (max-width: 1023px) {
  #banner {
    height: 160px;
  }
}
@media screen and (max-width: 767px) {
  #banner {
    height: 100px;
  }
}
#banner .mask-image {
  width: 100%;
  height: 100%;
  background-size: cover;
  transition: 1s all;
  background-image: url("./banner-2560.png");
}
@media screen and (max-width: 1920px) {
  #banner .mask-image {
    background-image: url("./banner-1920.png");
  }
}
@media screen and (max-width: 1023px) {
  #banner .mask-image {
    background-image: url("./banner-1024.png");
  }
}
@media screen and (max-width: 767px) {
  #banner .mask-image {
    background-image: url("./banner-768.png");
  }
}
#banner svg {
  position: absolute;
  top: 0;
  left: 0;
  transition: 1s all;
  height: 220px;
}
@media screen and (max-width: 1023px) {
  #banner svg {
    height: 160px;
  }
}
@media screen and (max-width: 767px) {
  #banner svg {
    height: 100px;
  }
}
#banner svg text {
  mix-blend-mode: difference;
  font-family: "Outfit", sans-serif;
  font-size: 200px;
  font-weight: bold;
  transition: 1s font-size;
}
@media screen and (max-width: 1023px) {
  #banner svg text {
    font-size: 150px;
  }
}
@media screen and (max-width: 767px) {
  #banner svg text {
    font-size: 80px;
  }
}
#banner .black-rect {
  transition: 1s all;
  height: 137px;
}
@media screen and (max-width: 1023px) {
  #banner .black-rect {
    height: 101px;
  }
}
@media screen and (max-width: 767px) {
  #banner .black-rect {
    height: 60px;
  }
}
#banner .mask-rect {
  fill: white;
  mask: url(#banner-mask);
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  margin: 60px auto;
  max-width: 900px;
}
@media screen and (max-width: 1023px) {
  section {
    margin: 20px auto;
    max-width: 700px;
  }
}
@media screen and (max-width: 767px) {
  section {
    width: 80%;
  }
}
section .title {
  display: block;
  box-sizing: border-box;
  width: 300px;
  height: 76px;
  font-family: "Roboto", sans-serif;
  font-size: 56px;
  text-align: center;
  color: #0B1C2B;
  border-bottom: 4px solid #0B1C2B;
  margin-bottom: 30px;
}
@media screen and (max-width: 1023px) {
  section .title {
    width: 200px;
    height: 56px;
    font-size: 40px;
    border-bottom: 3px solid #0B1C2B;
  }
}
@media screen and (max-width: 767px) {
  section .title {
    width: 120px;
    height: 32px;
    font-size: 24px;
    border-bottom: 2px solid #0B1C2B;
    margin-bottom: 16px;
  }
}

#about-me {
  font-family: "Noto Sans KR", sans-serif;
}
#about-me .intro-box {
  width: 100%;
}
@media screen and (max-width: 767px) {
  #about-me .intro-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
  }
}
#about-me .intro-box .name {
  float: left;
}
@media screen and (max-width: 767px) {
  #about-me .intro-box .name {
    float: none;
  }
}
#about-me .intro-box .name h1, #about-me .intro-box .name h2 {
  display: inline;
  font-weight: bold;
}
#about-me .intro-box .name h1 {
  font-size: 40px;
  color: #303030;
}
@media screen and (max-width: 1023px) {
  #about-me .intro-box .name h1 {
    font-size: 28px;
  }
}
@media screen and (max-width: 767px) {
  #about-me .intro-box .name h1 {
    font-size: 22px;
  }
}
#about-me .intro-box .name h2 {
  font-size: 24px;
  color: #747474;
  margin-left: 6px;
}
@media screen and (max-width: 1023px) {
  #about-me .intro-box .name h2 {
    font-size: 18px;
    margin-left: 2px;
  }
}
@media screen and (max-width: 767px) {
  #about-me .intro-box .name h2 {
    font-size: 16px;
    margin-left: 0;
  }
}
#about-me .intro-box .description {
  float: right;
  font-weight: 500;
  font-size: 20px;
  color: #747474;
}
@media screen and (max-width: 1023px) {
  #about-me .intro-box .description {
    font-size: 16px;
  }
}
@media screen and (max-width: 767px) {
  #about-me .intro-box .description {
    font-size: 14px;
    float: none;
    text-align: center;
    margin-top: 10px;
    word-break: keep-all;
  }
}
#about-me .info-box {
  margin-top: 100px;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}
@media screen and (max-width: 1023px) {
  #about-me .info-box {
    margin-top: 60px;
  }
}
@media screen and (max-width: 767px) {
  #about-me .info-box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 10px;
    row-gap: 20px;
    margin-top: 40px;
  }
}
#about-me .info-box .info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 180px;
}
@media screen and (max-width: 1023px) {
  #about-me .info-box .info {
    width: 150px;
  }
}
@media screen and (max-width: 767px) {
  #about-me .info-box .info {
    justify-self: center;
    width: 0;
    min-width: 100px;
  }
}
#about-me .info-box .info .icon {
  width: 50px;
  height: 50px;
}
@media screen and (max-width: 1023px) {
  #about-me .info-box .info .icon {
    width: 36px;
    height: 36px;
  }
}
@media screen and (max-width: 767px) {
  #about-me .info-box .info .icon {
    width: 24px;
    height: 24px;
  }
}
#about-me .info-box .info .sort {
  font-weight: bold;
  font-size: 28px;
  color: #303030;
}
@media screen and (max-width: 1023px) {
  #about-me .info-box .info .sort {
    font-size: 22px;
  }
}
@media screen and (max-width: 767px) {
  #about-me .info-box .info .sort {
    font-size: 18px;
  }
}
#about-me .info-box .info .content {
  font-weight: 500;
  font-size: 20px;
  color: #747474;
  margin-top: 6px;
  text-align: center;
  word-break: keep-all;
}
@media screen and (max-width: 1023px) {
  #about-me .info-box .info .content {
    font-size: 16px;
    margin: 0;
  }
}
@media screen and (max-width: 767px) {
  #about-me .info-box .info .content {
    font-size: 14px;
  }
}

/*# sourceMappingURL=main.css.map */
